autojoin none
nice_failback on
auto_failback off
ucast {{ shared_int }} {{ primary_ip }}
ucast {{ shared_int }} {{ secondary_ip }}
udpport 694
warntime 5
deadtime 15
initdead 60
keepalive 2
node {{ primary_host }}
node {{ secondary_host }}
crm off
