resource drbd {
     startup {
     }
     net {
          max-buffers 8000;
          max-epoch-size 8000;
          sndbuf-size 0;
          data-integrity-alg crc32c;
          after-sb-0pri discard-zero-changes;
          after-sb-1pri discard-secondary;       
          ping-timeout 60;
          timeout 60;
          ping-int 6;
     }
     syncer {
          csums-alg crc32c;
          verify-alg crc32c;
          al-extents 3389;
     }
     disk {
          on-io-error call-local-io-error;
     }
     meta-disk internal;
     device /dev/drbd0;
     disk /dev/rootvg/drbd;
  

     on {{ primary_host }} {
          address {{ primary_ip }}:7789;
     }
     on {{ secondary_host }} {
          address {{ secondary_ip }}:7789;
     }
}   
